<?xml version="1.0" encoding="utf-8"?>
<manifest package="tk.aibolik.app.insdu"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <!-- Permissions required to make our UI more friendly -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- <permission -->
    <!-- android:name="kz.aibol.sunshine.ACCESS_WEATHER_DATA" -->
    <!-- android:label="Access to weather data" -->
    <!-- android:protectionLevel="dangerous" /> -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key"/>

        <activity
            android:name=".navigation.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.information.detail.InfoDetailActivity"
            android:parentActivityName=".navigation.NavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigation.NavigationActivity"/>
        </activity>

        <activity
            android:name=".navigation.publics.detail.PostDetailActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent"/>

        <provider
            android:name=".sync.StubProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true"/>

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".sync.StubAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.AppSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

    </application>

</manifest>